<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Tracker | Jade's Portfolio App</title>
    <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon.ico"  type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Source+Sans+Pro&display=swap" rel="stylesheet"> 
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="title-container">
      <h1 class="main-title">Exercise tracker</h1>
      <div class="accent-box"></div>
    </div>
    <div class="content-container">
      <p>For this project I had to connect to a database and create a collection for both users and exercises. the users have to be unique (cannot use a taken username) and the exercise has to relate to a specific user.</p>
      <p>You can add a new user through the form on the left and add an exercise through the form on the right. You can then query the exercises logged by a specific user and filter the results that you receive.</p>
      <div class="form-container">
        <form class="exercise-tracker-form user" action="/api/users" method="post">
          <h3>Create a New User</h3>
          <p><code>POST /api/users</code></p>
          <input id="uname" type="text" name="username" placeholder="username" />
          <input type="submit" value="Submit" class="btn alt white"/>
        </form>
        <form id="exercise-form" method="post" class="exercise-tracker-form exercise">
          <h3>Add exercises</h3>
          <p><code>POST /api/users/:_id/exercises</code></p>
          <input id="uid" type="text" name=":_id" placeholder=":_id" />
          <input id="desc" type="text" name="description" placeholder="description*" />
          <input id="dur" type="text" name="duration" placeholder="duration* (mins.)" />
          <input id="date" type="text" name="date" placeholder="date (yyyy-mm-dd)" />
          <input type="submit" value="Submit" class="btn alt white"/>
        </form>
      </div>
      <p>
        <strong>GET user's exercise log: </strong>
        <code>GET /api/users/:_id/logs?[from][&amp;to][&amp;limit]</code>
      </p>
      <p><strong>[ ]</strong> = optional</p>
      <p style="margin-bottom: 2rem"><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
      <a href="/" class="btn">Return Home</a>
    </div>
    <script>
      const exerciseForm = document.getElementById("exercise-form");

      exerciseForm.addEventListener("submit", () => {
        const userId = document.getElementById("uid").value;
        exerciseForm.action = `/api/users/${userId}/exercises`;

        exerciseForm.submit();
      });
    </script>
  </body>
</html>