<!DOCTYPE html>
<html>
  <head>
    <title>File Metadata</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Source+Sans+Pro&display=swap" rel="stylesheet">
      <link href="style.css" rel="stylesheet" type="text/css">   
  </head>
  <body>
    <div class="title-container">
      <h1 class="main-title">File Metadata Microservice</h1>
      <div class="accent-box"></div>
    </div>
    <div class="content-container">
      <p>This file gives the metadata of a file that the user uploads.</p>
      <h3>Usage:</h3>
      <p>
        Please Upload a File ...
      </p>
      <div class="view">
        <h4 id="output"></h4>
        <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
          <input id="inputfield" type="file" name="upfile" >
          <input id="button" type="submit" value="Upload" class="btn alt">
        </form>
      </div>
      <a href="/" class="btn">Return Home</a>
    </div>
  </body>
</html>