<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Request Header Parser | Jade's Portfolio App</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Source+Sans+Pro&display=swap" rel="stylesheet">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>
   <body>
      <div class="title-container">
        <h1 class="main-title">Request Header Parser Microservice</h1>
        <div class="accent-box"></div>
      </div>
      <div class="content-container">
        <p>This project returns the header information of the client making the request. See the example below.</p>
        <h3>Example Usage:</h3>
        <ul class="example-links">
          <li><a href="api/whoami">[base url]/api/whoami</a></li>
        </ul>

        <h3>Example Output:</h3>
        <p class="code-container">
          <code>{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",<br>"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
        </p>
        <a href="/" class="btn">Return Home</a>
      </div>
   </body>
</html>