<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | Jade's Portfolio App</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Source+Sans+Pro&display=swap" rel="stylesheet"> 
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <div class="title-container">
      <h1 class="main-title">Timestamp Microservice</h1>
      <div class="accent-box"></div>
    </div>
    <div class="content-container">
      <p>This project returns the utc and unix version of a date request. Click <a href="/api/timestamp">here</a> to see the utc and unix timestamp of right now. Can receive a date (format: yyyy-mm-dd) or a unix timestamp. See the examples below.</p>
      <h3>Example Usage:</h3>
      <ul class="example-links">
        <li class="example-link"><a href="api/timestamp/2015-12-25">[project url]/api/timestamp/2015-12-25</a></li>
        <li class="example-link"><a href="api/timestamp/1451001600000">[project url]/api/timestamp/1451001600000</a></li>
      </ul>

      <h3>Example Output:</h3>
      <p class="code-container">
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
      </p>
      <a href="/" class="btn">Return Home</a>
    </div>
  </body>
</html>